@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 300ms ease-in-out forwards;
}

@keyframes fade-out {
  from {
    opacity: 1;
    visibility: visible;
  }

  to {
    opacity: 0;
    visibility: hidden;
    transition-duration: (300ms, 0ms);
    transition-property: (opacity, visibility);
    transition-delay: (0, 300ms);
  }
}
.fade-out {
  animation: fade-out 300ms ease-in-out forwards;
}
